.warehouse-movement-input-wrapper {
  display: flex;
  height: 132px;
  flex-direction: column;
  align-items: center;
}

.warehouse-movements-select {
  width: 217px;
  cursor: pointer;
}

.btn-movements-history {
  padding: 0.5em 0.5em;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
}

.p-warehouse-details {
  text-align: center;
}

.movements-tables-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.movements-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-movements {
  overflow-y: auto;
  padding: 0 0;
}
