.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.products-searchbar {
  padding: 0 0;
}

.search-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
}
