.movement-page-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  color: #685206;
}

.movement-page-warehouses-container {
  margin-bottom: 1.5em;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 35%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* upper-body-components */
.date-container-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.movement-page-products-container {
  width: 100%;
  height: 65%;
}

.movement-page-products-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-movements-btn-wrapper {
  margin: 29.05px 29.05px;
}

.btn-transfer {
  width: 217px;
  height: 50px;
  background-color: green;
}

.btn-transfer:disabled,
.btn-transfer[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.transfer-error {
  color: red;
  width: 217px;
  text-align: center;
}

.transfer-message {
  color: green;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
