#header-left-col {
  width: 125px;
  cursor: pointer;
}

#logo {
  width: 82px;
  height: 82px;
}

#header-right-col {
  height: 100%;
  border-left: 1px solid gray;
  width: calc(100% - 150px);
}

#header-title {
  color: #685206;
}
